.btn {
    display: inline-flex;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-family: $font-family;
    font-weight: 700;
    align-items: center;
    font-size: 0.85rem;
    line-height: 1.5;
    line-height: 0.85rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: $black-color, $alpha: 0.15);
    }

    &-icon {
        background-color: transparent;
        padding: 0.125rem 0.75rem;

        &:hover {
            background-color: transparent;
        }
    }

    &-primary {
        background-color: $primary-color;
        color: $white-color;

        &:hover {
            background-color: rgba($color: $primary-color, $alpha: 0.85);
        }
    }

    &-secondary {
        background-color: $dark-gray;
        color: $white-color;

        &:hover {
            background-color: rgba($color: $dark-gray, $alpha: 0.85);
        }
    }

    &-add-card {
        width: 100%;

        .text {
            align-self: center;
            margin-left: 15px;
        }
    }
}