$font-family: 'Tai Heritage Pro', serif;
$primary-color: #212770;

$white-color: #ffffff;
$black-color: #000000;
$dark-gray: #989898;

$bg-color: #cfd1e5;
$column-color: #ebecf0;

$column-size: 300px;